// -- *** NAVIGATION STYLES *** -- //

// - main wrappers
// - creates: pinching effect consistent throughout page
.navigationWrapper, .contentWrapper {
    padding: 0px 50px;
}

// - Navigation Boarder
.navigationWrapper {
    .borderBottom();
}

.navigation {
    .flexParent(space-between, center);
    
    nav {
        .flexParent(center, center)
    }
    
    a {
        margin: 0;
        text-decoration: none;
        font-size: 20px;
        margin-right: 30px;
    }
}